@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .button {
    @apply bg-blue-500 text-white p-3 rounded-lg hover:bg-blue-700;
  }
}

/* NProgress Customization */
#nprogress {
  pointer-events: none;
}

#nprogress .bar {
  background: #4f46e5;
  height: 4px;
}

#nprogress .peg {
  box-shadow: 0 0 10px #4f46e5, 0 0 5px #4f46e5;
}

#nprogress .spinner {
  display: none;
}
